.myriad-light {
    font-family: 'Myriad Pro light';
}

.myriad-regular {
    font-family: 'Myriad Pro Regular';
}

.myriad-regular {
    font-family: 'Myriad Pro Semibold';
}

.myriad-regular {
    font-family: 'Myriad Pro bold';
}