@font-face {
    font-family: 'SpookyZombie';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/SpookyZombie.ttf');
}

@font-face {
    font-family: 'Myriad Pro light';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/MyriadPro-Light.otf') format('OTF'),
        url('../fonts/MyriadPro-Light.woff') format('woff');
}

@font-face {
    font-family: 'Myriad Pro Regular';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/MYRIADPRO-REGULAR.OTF') format('OTF');
    src: url('../fonts/MYRIADPRO-REGULAR.woff') format('woff');
}


@font-face {
    font-family: 'Myriad Pro Semibold';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/MYRIADPRO-SEMIBOLD.OTF') format('OTF');
    src: url('../fonts/MYRIADPRO-SEMIBOLD.woff') format('woff');
}

@font-face {
    font-family: 'Myriad Pro bold';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/MYRIADPRO-BOLD.OTF') format('OTF');
    src: url('../fonts/MYRIADPRO-BOLD.woff') format('woff');
}