.footer {
    background: url(../images/footer/footer-bg.png) no-repeat top left/cover;
    padding: 20px 0;
    font-family: serif;
    color: #fff;
    border-top: 3px solid #fff;

    p {
        font-family: 'Myriad Pro light';
    }


    @media(max-width: 767px) {


        p {
            font-size: 14px;
        }
    }
}