

.top-part {
    background: url(../images/bg-shade-ash.png) center center/cover no-repeat;
    position: relative;

    .text {
        padding: 45px 0 35px;

        @media(max-width: 767px) {
            padding: 20px 0 35px;
        }

        h2 {
            font-family: 'Myriad Pro light';
            font-size: 42px;
            text-decoration: underline;
            padding-bottom: 10px;
        }

        p {
            font-family: 'Myriad Pro light';
            font-size: 22px;
            line-height: 25px;
        }

        @media(max-width: 767px) {
            h2 {
                font-size: 35px;
            }

            p {
                font-size: 18px;
            }
        }

        @media(max-width: 545px) {
            h2 {
                font-size: 30px;
            }

            p {
                font-size: 15px;
            }
        }
    }
}

.middle-contents {
    padding-top: 40px;

    .vote-box {
        max-width: 620px;
        margin-inline: auto;
        margin-bottom: -70px;
        height: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: url(../images/newvote-bx-bg.png) no-repeat center center/cover;
        border-radius: 20px;
        border: 2px solid #fff;
        position: relative;
        z-index: 99;

        &.donate-bx {
            background: url(../images/bg22.png) no-repeat center center/cover;
        }

        @media(max-width: 767px) {
            margin-bottom: -10px;
            height: 150px;
        }

        @media(max-width: 991px) {
            margin-bottom: -40px;
            height: 200px;
        }

        .input-bg {
            position: relative;

            input {
                width: 300px;
                border-radius: 20px;
                padding: 5px 10px;
                color: #fff;
                display: inline-block;
                text-align: center;
                border: none;
                background: url(../images/newvote-bx-bg.png) no-repeat center center/cover;

                &::placeholder {
                    color: #fff;
                }
            }

            &::before {
                content: '';
                position: absolute;
                width: calc(100% + 10px);
                height: calc(100% + 20px);
                left: -5px;
                top: -10px;
                background: linear-gradient(90deg, rgba(242, 97, 47, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(242, 97, 47, 1) 100%);
                border-radius: 30px;
                z-index: -1;
            }
        }
    }

    .cardss {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;

        @media (max-width:1024px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width:767px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}

.update-section {
    margin-top: -100px;
    margin-bottom: -100px;
    position: relative;
    z-index: 9;

    @media (max-width:991px) {
        margin-bottom: -40px;
    }

    @media (max-width:767px) {
        margin-bottom: 0px;
    }
}